@media screen AND (max-width:600px){
    .hero{
        margin-left: 3%;
    }
    .menu{
        display: none;
        margin-top: 0%;
    }
    .socials{
        margin-top: 0%;
        margin-left: 1%;
    }
}
