{{ define "main" }}
<body>
    <div class="cursor"></div>
    <div>
        <div class="home">
            <div class="container home1">
                <!-- Left Fixed Side -->
                <div class="col-md-6 left">
                    <div class="left-hero">
                        <h1><a href="{{ .Site.Params.baseURL }}">{{ .Site.Params.title }}</a></h1>
                        <h3>{{ .Site.Params.subtitle }}</h3>
                        <p>{{ .Site.Params.description | safeHTML }}</p>
                    </div>
                    <div class="menu">
                        <ul>
                            {{- partial "left/menu.html" . -}}
                        </ul>
                    </div>
                    <div class="socials">
                        {{- partial "left/socials.html" . -}}
                    </div>
                </div>

                <!-- Right Scroll Side -->
                <div class="col-md-6 right">
                    <!-- about -->
                    <div id="about" class="about">
                        {{- partial "right/hero.html" . -}}
                    </div>
                    <br /><br />

                    <!-- Experience -->
                    <div id="experience" class="experience">
                        <div>{{- partial "right/experience.html" . -}}</div>
                    <br><br>

                    <!-- Writing -->
                    <div>
                        <div id="writing" class="writing">
                            {{- partial "right/writing.html" . -}}
                            <br><br>
                        </div>
                    </div>
                    <br><br>

                    <!-- Footer -->
                    <div class="mainfooter">
                        <p>
                            {{- .Site.Params.footer | safeHTML -}}
                        </p>
                    </div>
 
            </div>
        </div>
        <!-- Gif -->
        <!-- <div class="maingif">
            <img src="assets/Gif/rotate.gif" alt="" width="30%">
        </div> -->

    </div>
    {{- $menujs := resources.Get "js/menu.js" -}}
    {{- $Smenujs := $menujs | resources.Fingerprint "sha512" -}}
    <script src="{{ $Smenujs.Permalink }}" integrity="{{ $Smenujs.Data.Integrity }}"></script>
</body>
</html>

{{ end }}