{{ define "main" }}
    <div class="cursor"></div>
    <div>
        <!-- Outer container for background and padding -->
        <div class="h-auto bg-slate-900 text-white p-0 pb-[2%]">
            <!-- Flex container for left/right layout -->
            <div class="h-screen overflow-hidden flex">
                {{/*  Left side  */}}
                {{- partial "left/info.html" . -}}
                
                <!-- Right Scroll Side -->
                <!-- Use flex-grow to let this section take the remaining space -->
                <div class="flex-grow pt-[9%] pl-[2%] pr-[4%] h-screen overflow-y-auto scrollbar-none">
                    <!-- about -->
                    {{- partial "right/about.html" . -}}
                    <br><br>

                    <!-- Experience -->
                    <div id="experience" class="experience">
                        <div class="hidden pb-[7%]">Experience</div>
                        <div>{{- partial "right/experience.html" . -}}</div>
                    </div>
                    <br><br>
                    
                    <!-- Projects -->
                    <div id="projects" class="projects">
                        <div class="hidden pb-[7%]">Projects</div>
                        {{- partial "right/projects.html" . -}}
                    </div>
                    <br><br>

                    <!-- Writing -->
                    <div>
                        <div id="writing" class="writing">
                            <div class="hidden">Writing</div>
                            {{- partial "right/writing.html" . -}}
                            <br><br>
                        </div>
                    </div>
                    <br><br>
                </div> <!-- End of Right Scroll Side -->
            </div> <!-- End of Flex container -->
        </div> <!-- End of Outer container -->
    </div>
{{ end }}